<%= link_to 'Back to Chat Rooms', root_path %>

<h2><%= chat_room.name %></h2>

<div class="messages" id=<%= "messages-#{chat_room.id}" %>>
  <%= render chat_room.messages.order(created_at: :desc) %>
</div>

<input type="hidden" id="chat-room-id" value=<%= chat_room.id %>>

<input type="text" data-behavior="chat_room_speaker" id="chat_room_speaker" placeholder="Press Enter key to send" size="95">
